$primary: #011638;
$gray: #464b54;
$green: #53d572;
$red: #f54c3e;
$blue: #25b9d7;
$white: #fff;
$skipped: #442ac6;
$skippedBg: #dad5f4;
$lowgray: #b3c7cd;
$bg-header: #A4DBE8;

// Dark mode
$backgroundDark: #1c1c24;
$primaryDark: #191a20;
$greyDark: #25262c;

@import '_tooltip';
